{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false
      }
    ],
    "quotes": [
      2,
      "double"
    ],
  },
  "root": true
}